a {
  color: var(--color-light);
  text-decoration: none;
}

.header {
  background-color: var(--color-dark);
}

.e-letter {
  color: var(--color-main);
}

.eclectic-link {
  font-size: 30px;
  transition: color 0.3s ease-in-out;
}

.eclectic-link:hover {
  color: var(--color-main);
}

.navbar-container {
  padding: 18px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group-link {
  /* color: var(--color-main-light); */
  font-size: 16px;
  margin-left: 20px;
  transition: color 0.3s ease-in-out;
}

.group-link:hover {
  color: var(--color-main);
}

.profile-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: cadetblue;
}

.btn-logout {
  color: var(--color-light);
  background: none;
  border: none;
  cursor: pointer;
}

.btn-logout:hover {
  color: var(--color-main);
}
