.category-container{
    padding: 20px 30px;
    border-radius: 16px;
    background-color: var(--color-dark);
}

.post-category{
    display: block;
    background: none;
    border: none;
    margin-bottom: 8px;
    border-bottom: 2px solid red;
}