.category-container {
  padding: 0 30px;
  border-radius: 16px;
  background-color: var(--color-dark);
}

.category-title {
  margin: 0 -30px 30px;
  padding: 10px 30px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-color: var(--color-dark-medium);
}

.post-category {
  margin-bottom: 10px;
}

.post-category > a:hover {
  color: var(--color-main);
}

.active-link {
  color: var(--color-main);
}
