.home-container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    column-gap: 20px;
    min-height: calc(100vh - 87px);
}

.btn-article{
    font-size: 20px;
    font-weight: 500;
    color: var(--color-dark);
    padding: 16px 10px;
    border: none;
    display: block;
    background-color: var(--color-main);
    border-radius: 8px;
}

.btn-article:hover{
    color: var(--color-light);
    background-color: transparent;
    border: 2px solid var(--color-main);
}

.container-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}