.home-container {
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  column-gap: 20px;
  min-height: calc(100vh - 87px);
}

.search-container {
  display: flex;
}

.search-field {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: 2px solid var(--color-dark-light);
  border-right: none;
  outline: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.btn-search {
  font-size: 25px;
  background: var(--color-dark-light);
  padding: 0 5px;
  border: 2px solid var(--color-dark-light);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}

.btn-search:hover{
    color: var(--color-dark-light);
    background: transparent;
}

.btn-article {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-dark);
  padding: 10px;
  border: none;
  display: block;
  background-color: var(--color-main);
  border: 2px solid var(--color-main);
  border-radius: 8px;
  cursor: pointer;
}

.btn-article:hover {
  color: var(--color-light);
  background-color: transparent;
  border: 2px solid var(--color-main);
}

.container-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
