.post-container {
  padding: 20px 30px;
  margin: 20px 0px;
  border-radius: 16px;
  background-color: var(--color-dark);
}

.author-info {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.img-author {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.img-avatar {
  background-color: var(--color-dark-light);
  color: #ffffff;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.author-name {
  font-size: 22px;
  color: var(--color-main);
  margin: 0;
}

.post-date {
  font-size: 12px;
  font-style: italic;
}

.post-link-title {
  font-size: 25px;
  transition: color 0.3s ease-in-out;
}

.post-link-title:hover {
  color: var(--color-gray);
}

.card-top {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.like-btn {
  font-size: 30px;
  color: var(--color-light);
  cursor: pointer;
}

.bookmark-btn {
  font-size: 25px;
  color: var(--color-light);
  margin-left: 10px;
  cursor: pointer;
}

.toggle {
  color: var(--color-main);
}
